.main
  .upper
    .upper__title
      .upper__title__title1
        Things That Changed Your Life
      .upper__title__title2
        あなたの人生を変えた"モノ"
    .upper__form
      = form_with(url: search_posts_path, method: :get, local: true) do |form|
        = form.text_field :keyword, placeholder: "投稿を検索する", class: "upper__form__input"
        = form.submit "検索", class: "upper__form__btn form__input"
  .lower
    .contents.clearfix
      - @posts.each do |post|
        .contents__content
          =link_to post_path(post.id), class: "contents__content__link" do
            = image_tag post.image, alt:"写真", class:"contents__content__link__image"
            .contents__content__link__info
              %apan.contents__content__link__info__title
                =post.title
              %apan.contents__content__link__info__name
                = icon('fas', 'user',  class: "")
                = post.user.nickname
  .pagination
    = paginate(@posts)