.container
  .form
    = form_with(model: @post, local: true) do |form|
      .form__h3 投稿する
      = form.label '写真を選択してください' do
        #img-field{onclick: "$('#file').click()"}
          - if @post.image.url.present?
            = image_tag(@post.image.url)
          - else
            .field-icon
              = icon('fas', 'image', class: "field-icon__image")
              %apan.field-icon__text 写真を選択してください
      = form.file_field :image, class: "form__field", style: "display:none;", id: "file"
      = form.text_field :title, placeholder: "タイトル", class: "form__input"
      = form.text_area :text, placeholder: "説明" , rows: "10", class: "form__input"
      = form.submit "SEND", class: "form__btn form__input"
