.container
  .maincontents
    = image_tag @post.image.url, alt:"写真", class:"maincontents__image"
    .maincontents__post
      .maincontents__post__info
        = link_to @post.user.nickname,user_path(@post.user.id),class:"maincontents__post__info__name"
        .maincontents__post__info__name2
          さんの投稿
        .maincontents__post__info__time
          = @post.updated_at.strftime("%Y-%m-%d %H:%M")
      .maincontents__post__tiele
        = "タイトル：#{@post.title}"
      .maincontents__post__text
        = simple_format(@post.text)



      -# 以下はコメント機能-------
    - if current_user
      .maincontents__post__form
        = form_with(model: [@post,@comment], local: true, id: "new_comment") do |form|
          = form.text_area :text, placeholder: "コメントする" , rows: "2", class: "form__input form__textbox"
          = form.submit "SEND", class: "form__btn form__input"
    - else
      .maincontents__post__message
        ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .maincontents__comments
      .maincontents__comments__title
        ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          .maincontents__comments__title__box
            .maincontents__comments__title__box__name
              = link_to comment.user.nickname, user_path(comment.user.id),class:"maincontents__comments__title__box__name__link"
              %span :
            .maincontents__comments__title__box__text
              = simple_format(comment.text)
      - if @comments.count == 0
        .maincontents__comments__title__no-comment
          ** コメントはありません **

      -# 以上はコメント機能-------

    - if user_signed_in? && current_user.id == @post.user.id
      .maincontents__comments__btn
        =link_to '編集する', edit_post_path, class: "maincontents__comments__btn__edit"
        =link_to '削除する', post_path, method: :delete, class: "maincontents__comments__btn__delete"