!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Change-Life
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .wrapper
      .header
        .header__bar
          .header__bar__title
            =link_to 'Things That Changed Your Life', root_path, class: "header__bar__title__link"
          .header--btn
            - if user_signed_in?
              .grid-6
                = link_to current_user.nickname, user_path(current_user.id),class: "header__bar--btn__name"
                = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__bar--btn__login"
                = link_to  "投稿する", new_post_path, class: "header__bar--btn__login"
            - else
              .grid-6
                = link_to "ログイン", new_user_session_path, class: 'header__bar--btn__login'
                = link_to "新規登録", new_user_registration_path, class: 'header__bar--btn__signin'
      = yield
      .footer
        .footer__text
          .footer__text__menus
            = link_to "利用規約", "",class: "footer__text__menus__menu"
            = link_to "プライバシーポリシー", "",class: "footer__text__menus__menu"
            = link_to "お問い合わせ", "",class: "footer__text__menus__menu"
          .footer__text__copy
            ©️ 2020 All Rights Reserved.Made by Kodai